.App {
  text-align: center;
}

body{
  background-color: #282c34;
  text-align: center;

}
header{
  background-color: gray;
  text-align: left;
  color: azure;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h2{
  text-align: center;
  
  text-decoration-color: blue;
  color: white;
}
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

