h1 {
    align-items: center;
    text-align: center;
    color: blue;
    font-family:'Segoe UI';
    size: 16px;
   

 }

 .center-button {
   padding: 10px 20px; 
   place-items: Center;
   margin-top: 20px;
   direction:inherit;
   align-items: center;
   margin-left: 670px;
 }


.Container {
    background-color:rgb(216, 230, 251);
    text-align: center;
    height: inherit;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 500px;
    border-color: brown;
    border-style: double;
}

.Container-side-bar{
    background-color: darkblue;
    color: black;
  

}

.body {
    background-color: gray;
    
 }

 header {
    background-color: darkblue;
    color: white;
    
 }
.img {
   height: 500;
   width: 500px;
   align-items: center;
   direction: ltr;
   padding-top: 50px;
   padding-left: 50px;
   padding-right: 50px;

}

.box {
    width: 400;
    height: 400;
    align-items: center;
    border-radius: 20px;
    border-color: aqua;
    background-color: antiquewhite;
    display:inline;
    margin: 10px;
    border: 3 solid black;
    padding: 10px;
    margin-right: 10px;
}

form {
    display:rtl;
    margin-right: 300px;
    padding: 10px;
   content: none;
    border: 10 10 10 10 ;
    border-radius: 30rem;
    border-color: red;
    padding: auto;
    padding-left: 100px;
}

